<div class="w-item-container {{cssClass}}">
    <div class="w-item-specs">
        <table>
            <tr>
                <th>{{localize "WUSHU.items.rating"}}</th>
                <th>{{localize "WUSHU.items.category"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.rating">
                        {{selectOptions config.diceRatings selected=rating localize=true}}
                    </select>
                </td>
                <td>
                    <select name="system.category">
                        {{selectOptions config.traitCategories selected=category localize=true}}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="w-item-features">
       <h3>{{localize "WUSHU.items.features"}}</h3>
        <prose-mirror name="system.features" 
                      data-document-u-u-i-d="{{parent.uuid}}" 
                      value="{{enrichedFeats}}" 
                      collaborate="true" 
                      toggled="false">
            {{{enrichedFeats}}}
    </prose-mirror>
    </div>
</div>


