<div class="w-hero-health">
    <table>
        <tr>
            <td><strong>{{localize "WUSHU.stats.health"}}</strong></td>
            <td>({{health.rating}})</td>
            {{#each health.boxes as |state pos|}}
            <td>
            {{#ife state 0}}
                <a data-action="cycleBox" data-track="health" data-state="{{state}}" data-pos="{{count}}"><i class="fa-solid fa-heart"></i></a>
            {{/ife}}
            {{#ife state 1}}
                <a data-action="cycleBox" data-track="health" data-state="{{state}}" data-pos="{{count}}"><i class="fa-regular fa-heart"></i></a>
            {{/ife}}
            <td>
        </tr>
    </table>
</div>
