<div style="font-size:large;">
<strong>{{localize "WUSHU.stats.threat"}}</strong> (<a data-action="decThreat">-</a> {{threat.rating}} <a data-action="incThreat">+</a>)
            {{#each threat.boxes as |state count|}}
            {{#ife state 0}}
                <a data-action="cycleHealthBox" data-track="threat" data-state="{{state}}" data-pos="{{count}}"><i class="fa-solid fa-skull"></i></a>
            {{/ife}}
            {{#ife state 1}}
                <a data-action="cycleHealthBox" data-track="threat" data-state="{{state}}" data-pos="{{count}}"><span style="color:rgba(0, 0, 0, 0.1)"><i class="fa-solid fa-skull"></i></span></a>
            {{/ife}}
            {{/each}}
</div>
            
