<table>
{{#each trait as |trait|}}
    <tr>
        <td><a data-action="rollTrait" data-item-id="{{trait.id}}"><i class="fas fa-dice-six"></i></a></td>
        <td><a data-action="editItem" data-item-id="{{trait.id}}">{{trait}}</a> ({{trait.rating}})
            {{#if (setting "useFeatures")}}<br>{{trait.features}}{{/if}}
        </td>
        {{#if (setting "useCategories")}}<td>{{trait.category}}</td>{{/if}}
        <td><a data-action="deleteItem" data-item-id="{{trait.id}}"><i class="fas fa-ban"></i></a></td>
    </tr>
{{/each}}
</table>