<div class="w-hero-container">
  <div class="w-hero-name">
    <input 
    name="name" 
    type="text" 
    value="{{parent.name}}" 
    placeholder="Name"/>

  </div>
  <div class="w-hero-health">
    {{> 'systems/wushu/templates/partials/healthblock.hbs'}}
  </div>
  <div class="w-hero-traits">
    {{> 'systems/wushu/templates/partials/traitblock.hbs'}}
  </div>
  <div class="w-hero-specials">
    {{> 'systems/wushu/templates/partials/specialblock.hbs'}}
  </div>
  <div class="w-hero-setbacks">
    {{> 'systems/wushu/templates/partials/setbackblock.hbs'}}
  </div>
  <div class="w-hero-story">  
        <h3>{{localize "WUSHU.ui.dialogs.editors.storynotes"}}</h3>
        <prose-mirror name="system.backstory" 
                          data-document-u-u-i-d="{{actor.uuid}}" 
                          value="{{enrichedStory}}" 
                          collaborate="true" 
                          toggled="false">
                {{{enrichedStory}}}
        </prose-mirror>
  </div>
  <div class="w-hero-img">
    <img
    class="profile-img"
    src="{{actor.img}}"
    alt="{{actor.name}}"
    data-edit="img"
    data-action="editImage"
    title="{{actor.name}}"
    height="200"
    width="200"  />
   </div>
</div>