<div class="cm-container">
  <div class="cm-traitinfo">
    {{trait}} ({{rating}})
  </div>
  <div class="cm-atkdice">
    {{aRolled}}D6, {{aSux}} {{localize "WUSHU.chat.successes"}}
    {{#if (gt aSux 0)}}{{localize "WUSHU.chat.dealdamage"}}{{/if}}
  </div>
  <div class="cm-defdice">
    {{dRolled}}D6, {{dSux}} {{localize "WUSHU.chat.successes"}}
    {{#if (eq dSux 0)}}{{localize "WUSHU.chat.takedamage"}}{{/if}}
  </div>
  <div class="cm-atip">{{aTip}}</div>
  <div class="cm-dtip">{{dTip}}</div>
</div>