<div style="margin-right:12px;">
    <header>
        <title>{{localize "WUSHU.dialog.titles.traitroll"}}</title>
    </header>
    <section>
        <div class="flex-col">
            <div class="flex-row">
                <div class="flex-item">
                    <h2>{{traitname}} ({{rating}})</h2>
                    <p>{{localize "WUSHU.ui.dialogs.interaction.divide_pool"}}</p>
                </div>
            </div>
            <div class="flex-row">
                <table>
                    <tr>
                        <th>{{localize "WUSHU.dice.attack"}}</th>
                        <th>{{localize "WUSHU.dice.defense"}}</th>
                    </tr>
                    <tr>
                        <td><select name="atk">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            </select>
                        </td>
                        <td>
                            <select name="def">
                           <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="flex-row">
                {{localize "WUSHU.dice.scabroll"}}? <input type="checkbox" name="scab"/>
            </div>
        </div>
    </section>
</div>