<div class="cm-container">
  <div class="cm-traitinfo">
    {{trait}} ({{rating}}) | <em>{{localize "WUSHU.dice.scabroll"}}</em>
  </div>
  <div class="cm-atkdice">
   {{localize "WUSHU.dice.result"}}: {{highest}}
  </div>
  <div class="cm-defdice">
    {{localize "WUSHU.dice.outcome"}}: {{outcome}}
    </div>
  <div class="cm-atip">{{tooltip}}</div>
</div>